body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.company-logo {
    font-size: 24px;
    color: #f9faf8;
}

header,
footer {
    background-color: #1F2937;
    color: white;
}

section.main {

}

section.quote {
    background-color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    gap: 5px;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

.registration-box {
    background-color: #3882f6;
}

.main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}