body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.company-logo {
    font-size: 24px;
    color: #f9faf8;
}

header,
footer {
    background-color: #1F2937;
    color: white;
}

section.quote {
    background-color: #E5E7EB;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin-bottom: 40px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 5px;
    margin-top: 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 5px;
    margin: 0;
    padding: 0;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

.registration-box {
    background-color: #3882f6;
}



.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.title-container {
    display: flex;
    justify-content: center;
    gap: 360px;
}

.resting-pug {
    height: auto;
    width: 400px;
    margin-bottom: 30px;
}

.company-info {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.company-info button {
    width: 80px;
    color: white;
    background-color: #3882f6;
    padding: 5px 15px;
}

/* Main information section */ 

section.main {

}

.main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.card-container img {
    border: 5px #3882f6 solid; 
    border-radius: 15%;
}

.info-pug {
    height: auto;
    width: 300px; 
}